<a href="https://colab.research.google.com/github/marisbotero/MachineLearning/blob/master/%E2%9B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ðŸš¢Titanic ReloadedðŸ’Ž

- analysis
- visualizations
- machine learning classifiers for predict passenger survival status

### Exploration Data Analysis

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#load file
file_name = ("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df = pd.read_csv(file_name)

In [ ]:
df.head()

In [ ]:
#row and column count
df.shape

In [ ]:
print ("The shape of the data is (row, column):"+ str(df.shape))
print (df.info())

In [ ]:
p_train = 0.80 
df['is_train'] = np.random.uniform(0, 1, len(df)) <= p_train
train, test = df[df['is_train']==True], df[df['is_train']==False]
df = df.drop('is_train', 1)

print("Train: ", len(train))
print("Test: ", len(test))

## ðŸ¤“Take a look at the overview of the dataset

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
train.sample(5)

The data has split into two groups:

- training set :It includes our target variable(dependent variable), passenger survival status(also known as the ground truth from the Titanic tragedy) along with other independent features like gender, class, fare, and Pclass.
- test set:It should be used to see how well our model performs on unseen data.

# ðŸ’œ Variable types ðŸ’œ
# Categorical:
### Nominal:
variables that have two or more categories, but which do not have an intrinsic order
- Cabin
- Embarked

### Dichotomous: 
Nominal variable with only two categories
- Sex

### Ordinal:
variables that have two or more categories just like nominal variables. Only the categories can also be ordered or ranked.
- Pclass

#Numeric:

###Discrete:
- Passenger ID(Unique identifing # for each passenger)
- SibSp
- Parch
- Survived (Our outcome or dependent variable)

### Continous
- Age
- Fare

#Text Variable

- Ticket (Ticket number for passenger.)
- Name( Name of the passenger.)

# âš¡Data Cleaning

In [ ]:
## saving passenger id in advance in order to submit later. 
passengerid = test.PassengerId
## We will drop PassengerID and Ticket since it will be useless for our data. 
#train.drop(['PassengerId'], axis=1, inplace=True)
#test.drop(['PassengerId'], axis=1, inplace=True)

print (train.info())
print ("*"*40)
print (test.info())

In [ ]:
def missing_percentage(df):
    """This function takes a DataFrame(df) as input and returns two columns, total missing values and total missing values percentage"""
    total = df.isnull().sum().sort_values(ascending = False)
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

In [ ]:
missing_percentage(train)

             Total  Percent
Cabin          534    77.06
Age            145    20.92
Embarked         2     0.29
is_train         0     0.00
Fare             0     0.00
Ticket           0     0.00
Parch            0     0.00
SibSp            0     0.00
Sex              0     0.00
Name             0     0.00
Pclass           0     0.00
Survived         0     0.00
PassengerId      0     0.00

In [ ]:
missing_percentage(test)

             Total  Percent
Cabin          153    77.27
Age             32    16.16
is_train         0     0.00
Embarked         0     0.00
Fare             0     0.00
Ticket           0     0.00
Parch            0     0.00
SibSp            0     0.00
Sex              0     0.00
Name             0     0.00
Pclass           0     0.00
Survived         0     0.00
PassengerId      0     0.00

In [ ]:
def percent_value_counts(df, feature):
    """This function takes in a dataframe and a column and finds the percentage of the value_counts"""
    percent = pd.DataFrame(round(df.loc[:,feature].value_counts(dropna=False, normalize=True)*100,2))
    ## creating a df with th
    total = pd.DataFrame(df.loc[:,feature].value_counts(dropna=False))
    ## concating percent and total dataframe

    total.columns = ["Total"]
    percent.columns = ['Percent']
    return pd.concat([total, percent], axis = 1)

In [ ]:
percent_value_counts(train, 'Embarked')

     Total  Percent
S      509    73.45
C      119    17.17
Q       63     9.09
NaN      2     0.29

In [ ]:
train[train.Embarked.isnull()]

     PassengerId  Survived  Pclass  ... Cabin Embarked  is_train
61            62         1       1  ...   B28      NaN      True
829          830         1       1  ...   B28      NaN      True

[2 rows x 13 columns]

# ðŸŒ»Visualization